$background-color: rgb(12, 12, 12);
$highlight-color: #f7c14c;

.download-main {
  button {
    svg {
      margin-right: 20px;
    }
    width: fit-content;
    background-color: $highlight-color;
    font-weight: 600;
    font-size: 15px;
    border: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  p {
    margin: 0;
  }
  h1 {
    margin: 10px;
  }
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
